<!--
    Publisher for ros masters. 
 -->
<launch>
  <node ns="zeroconf" pkg="zeroconf_avahi" type="zeroconf" name="zeroconf"  output="screen">
    <rosparam param="services">
      [ { name: "Ros Master", type: _ros-master._tcp, domain: local, description: "ros master" } ]
    </rosparam>
  </node>
</launch>

