<!--
    Tests the zeroconf node - use with the scripts in scripts/tests for testing,
    a good string of scripts to fire is:
    
    add_ros_listener
    add_concert_listener
    add_ros
    add_collision (test the local collision callback)
    add_concert
    list_discovered_concert_services
    list_discovered_services (list them all!)
    list_published_ros_services
    list_published_services
 -->
<launch>
  <node pkg="zeroconf_avahi" type="zeroconf" name="zeroconf"  output="screen"/>
</launch>
